*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-size: 62.5%;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}
.container{
    width: 30%;
    padding: 1rem;
    border: 1px solid black;
    border-radius: 4px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-size: 1rem;
}
.btns{
    margin: 1rem;
    display: flex;
    justify-content: center;
    gap: 1rem;
}
button{
    padding: 0.3rem;
}
.head{
    width: 200px;
}
.lineDiv{
    display: flex;
}